USE [master]
GO
/****** Object:  Database [Login]    Script Date: 25.04.2022 0:48:52 ******/
CREATE DATABASE [Login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Login', FILENAME = N'D:\Microsoft SQL Server Tools 18\MSSQL15.SQLEXPRESS\MSSQL\DATA\Login.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Login_log', FILENAME = N'D:\Microsoft SQL Server Tools 18\MSSQL15.SQLEXPRESS\MSSQL\DATA\Login_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Login]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 25.04.2022 0:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Jobnumber] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Log] ([Jobnumber], [Password]) VALUES (N'NBA001', N'abc123&')
GO
USE [master]
GO
